.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.main-layout {
  display: flex;
  height: 84vh; /* Full height of the viewport */
}

.canvas-section {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 10px;
  height: 100%; /* Ensure the canvas section takes full height */
}

.toolbar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid #ddd;
  height: 100%; /* Ensure the toolbar section takes full height */
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 5px 0;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.controls button:hover {
  background-color: #0056b3;
}
